/*
 * Please see the included README.md file for license terms and conditions.
 */


/* This file is completely optional and not required. */
/* Note the reference that includes it in the index.html file. */


/* Disable certain interactions on touch devices */
/* SOURCE: https://github.com/ftlabs/fastclick/blob/master/examples/input.html */
/* LICENSE: https://github.com/ftlabs/fastclick/blob/master/LICENSE */
body {
    -webkit-touch-callout: none ;
    -webkit-text-size-adjust: none ; -ms-text-size-adjust: none ;
    -webkit-user-select: none ; -moz-user-select: none ; -ms-user-select: none ; user-select: none ;
    -webkit-highlight: none ;
    -webkit-tap-highlight-color: rgba(0,0,0,0) ;
    -webkit-tap-highlight-color: transparent ;      /* For some Androids */
}

/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
html {
    -ms-touch-action: pan-x ;
}

/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
body {
    -ms-touch-action: pan-y ;
    -ms-content-zooming: none ;
}

/* allow copy-paste */
input, textarea  {
    -webkit-user-select: text ; -moz-user-select: text ; -ms-user-select: text ; user-select: text ;
}

body {
    /* margin: 0.5rem ; */
    background: white ;
    color: black ;
}

.textcolor{
    color: white;
}

.demo-layout-transparent {
  background: url('../images/1969625.jpg'); 
  background-repeat: no-repeat;
    background-size: cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white; 
}

.mage{
    width: 40%;
    height:15%;
    margin-top: 5%; 
    margin-left: 33%;
}

.top{
    margin-top:70%;
    margin-left:40%;
    width:20%;
    height:20%;
}

.tp1{
    color:white;
    margin-left:27%;
    margin-top:5%;
}

.headercolor,.tabcolor{
    background-color:#1665c0;
    color: white;
}

.card{
    margin-top:30%;
    margin-left:5%;
    width:50%;
}

.card1{
    margin-top:35%;
    margin-left:5%;
    width:50%;
}

.demo-card-wide.card2{
    margin-top:0%;
    margin-left:0%;
    width:100%;
}

.demo-card-wide > .mdl-card__title {
  color: #fff;
  height:150px;
  background:url('../images/space.png');
}


.demo-list-item{
    width:100%;
}


.card3{
    margin-top:10%;
    margin-left:5%;
    width:90%;
}


.divprin{
    background: url('../images/degrade.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 170px;
}

.d1{
    width: 34%;
    height: 150px;
    background-color: transparent;
    float: left;
    
}

.d2{
    width: 33%;
    height: 150px;
    background-color: transparent;
    float: left;
}

.d3{
    width: 33%;
    height: 150px;
    background-color: transparent;
    float: left;
}

.divmc{
    width: 90%;
    height: 120px;
    margin-left: 5%;
    margin-top: 10%;
    background-color: white;
}

.dmc1{
    width: 33%;
    height: 100px;
    background-color: none;
    float: left;
}

.dmc2{
    width: 33%;
    height: 100px;
    background-color: none;
    float: left;
}

.dmc3{
    width: 33%;
    height: 100px;
    background-color: none;
    float: left;
}

.imgcupon{
    margin-left: 10%;
    margin-top: 5%;
}

.imgfilhote{
    margin-left: 10%;
    margin-top: 10%;
}

.imgwm{
    margin-left: 10%;
    margin-top: 5%;
}

.moeda{
    margin-top: 15%;
    margin-left: 10%;
    width: 80%;
    height: 70%;
}

.numd{
    margin-top: 20%;
    margin-left: 5%;
    font-size: 18px;
    
}



.div1{
   margin-top:5%;
   margin-left:5%;
   width:90%;
   height:50px;
}


.demo-list-two {
  width: 100%;
  margin-top:5%;
}

.li_listen{
    width:90%;
    margin-left:5%;
    margin-top:5%;
    
}

.demo-list-radio {
  display: inline;
}

.bpuppy{
     background: url('../images/fundo_filhote.png'); 
  background-repeat: no-repeat;
    background-size: cover;
}

.imgpuppy{
    margin-left:40%;
    margin-top: 80%;
    position: relative;
    
}

.barOuter {
    background: green;
    border: 1px solid #000;
    border-radius: 8px;
    box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.8), 1px 1px 0 0 rgba(255, 255, 255, 0.12);
    height: 16px;
    width: 35%;
    margin-left: 38%;
    margin-top: 2%;
    position: relative;
}
 
.barLabel {
    color: white;
    font-size: 12px;
    position: absolute;
    right: -32px;
    top: 0;
}
 
.barInner {
    background-color: #A444B1;
    border-right: 1px solid #090909;
    border-radius: 7px;
    height: 100%;
    width: 50%;
    background-size: 100% 100%, 20px 20px, 100% 100%;
    background-image:
        linear-gradient(to bottom,
                        rgba(255, 255, 255, 0.33) 0,
                        rgba(255, 255, 255, 0.08) 50%,
                        rgba(0, 0, 0, 0.25) 50%,
                        rgba(0, 0, 0, 0.1) 100%),
        linear-gradient(45deg,
                        rgba(255, 255, 255, 0.16) 25%,
                        rgba(0, 0, 0, 0) 25%,
                        rgba(0, 0, 0, 0) 50%,
                        rgba(255, 255, 255, 0.16) 50%,
                        rgba(255, 255, 255, 0.16) 75%,
                        rgba(0, 0, 0, 0) 75%,
                        rgba(0, 0, 0, 0)),
        linear-gradient(to right, #09c, #f44);
    box-shadow: inset 0 1px 1px 0px rgba(255, 215, 215, 0.5),
                inset 0 -1px 1px 0px rgba(255, 255, 255, 0.25),
                1px 1px 3px 0 rgba(0,0,0,0.33);
}
/*.barInner {
    background-color: #A444B1;
    border-right: 1px solid #090909;
    border-radius: 7px;
    height: 100%;
    width: 50%;
    background-size: 100% 100%, 20px 20px, 100% 100%;
    background-image:
        linear-gradient(-45deg,transparent 33%, rgba(0, 0, 0, .1) 33%,rgba(0,0, 0, .1) 66%, transparent 66%),
        linear-gradient(to top,rgba(255, 255, 255, .25),rgba(0, 0, 0, .25)),
        linear-gradient(to left, #09c, #f44);

 linear-gradient(to right, #5A377F, #A444B1);

border-radius: 2px;
background-size: 35px 20px, 100% 100%, 100% 100%;
} */

.divbambo{
    width: 100%;
    height: 30px;
    margin-top: 10%;
    background-color: none;
    position: relative;
   
}

.divbtbb{
    background-color: white;
    border-radius: 90px;
    width: 80px;
    height: 25px;
    margin-top: 2%;
    margin-left: 75%;
    position: relative;
    
}

.divmsgg{
    background-color: blue;
    height: 100px;
    width: 100px;
    z-index: 1;
    margin-left: 40%;
    position: absolute;
    
}

.divt1{
    position:absolute; 
    left:1px; 
    top:0px;
    height:100%;
    width:100%;
    z-index:1;
    background-color:none;
}


.divt2{
    position:absolute; 
    left:1px; 
    top:1px;
    height:40%;
    width:80%;
    z-index:2;
    background-color:gainsboro;
    margin-top: 45%;
    margin-left: 10%;
    display: none; 
}

.divt3{
    position:absolute; 
    left:1px; 
    top:1px;
    height:40%;
    width:80%;
    z-index:2;
    background-color:gainsboro;
    margin-top: 45%;
    margin-left: 10%;
    display: none;
}

.divt4{
    position:absolute; 
    left:1px; 
    top:10px;
    height:10%;
    width:100%;
    z-index:1;
    background-color: none;
}

.divpuser{
    background-color: white;
    border-radius: 90px;
    width: 45%;
    height: 30px;
    margin-top: 2%;
    margin-left: 2%;
    float: left;
}



.divnp{
    background-color: white;
    border-radius: 90px;
    width: 18%; 
    height: 30px;
    margin-left: 20px;
    margin-top: 2%;
    float: left;
}

.divph{
    background-color: none;
    margin-left: 60px;
    margin-top: 2%;
    float: left;
}

.hpuppy{
    background: url('../images/fundo2.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
}

.hrel{
    background: url('../images/fundo2.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    
}


.divt6{
    position:absolute; 
    left:10%; 
    top:20%;
    height:10%;
    width:80%;
    z-index:1;
    background-color: none;
    display: none;
}

.divt7{
    position:absolute; 
    left:10%; 
    top:20%;
    height:5%;
    width:80%;
    z-index:1;
    background-color: none;
    display: none;
   
}

.divt8{
    position:absolute; 
    left:10%; 
    top:20%;
    height:5%;
    width:80%;
    z-index:1;
    background-color: none;
    display: none;
   
}

.divt9{
    position:absolute; 
    left:10%; 
    top:20%;
    height:5%;
    width:80%;
    z-index:1;
    background-color: none;
    display: none;
   
}

.divt10{
    position:absolute; 
    left:10%; 
    top:20%;
    height:5%;
    width:80%;
    z-index:1;
    background-color: none;
    display: none;
}

.divt11{
    position:absolute; 
    left:10%; 
    top:20%;
    height:5%;
    width:80%;
    z-index:1;
    background-color: none;
    display: none;
}

.divt12{
    position:absolute; 
    left:10%; 
    top:10%;
    height:5%;
    width:99%;
    z-index:1;
    background-color: none;
   
}


