/*
 * Please see the included README.md file for license terms and conditions.
 */


/* This file is completely optional and not required. */
/* Note the reference that includes it in the index.html file. */


/* Disable certain interactions on touch devices */
/* SOURCE: https://github.com/ftlabs/fastclick/blob/master/examples/input.html */
/* LICENSE: https://github.com/ftlabs/fastclick/blob/master/LICENSE */
body {
    -webkit-touch-callout: none ;
    -webkit-text-size-adjust: none ; -ms-text-size-adjust: none ;
    -webkit-user-select: none ; -moz-user-select: none ; -ms-user-select: none ; user-select: none ;
    -webkit-highlight: none ;
    -webkit-tap-highlight-color: rgba(0,0,0,0) ;
    -webkit-tap-highlight-color: transparent ;      /* For some Androids */
}

/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
html {
    -ms-touch-action: pan-x ;
}

/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
body {
    -ms-touch-action: pan-y ;
    -ms-content-zooming: none ;
}

/* allow copy-paste */
input, textarea  {
    -webkit-user-select: text ; -moz-user-select: text ; -ms-user-select: text ; user-select: text ;
}

body {
    /* margin: 0.5rem ; */
    background: white ;
    color: black ;
}


/* css textcolor1 pertence a cor do termos de uso   */

.textcolor1{
    color: cornflowerblue;
}


/* css demo-layout-transparent pertence ao fundo da tela mainpage */

.demo-layout-transparent {
  background-image: url('../images/BICCITY(1).png');
  background-repeat: no-repeat;
  background-position: center;
}


/* css card pertence ao card de login e cadastro   */

.card{
    margin-left: 6%;
    margin-top: 20%;
    width: 80%; 
}

/* css div1 pertence a tela de cadastro   */

.div1{
   position: absolute;
    left:0%; 
    top:0%;
    height:100%;
    width:100%;
    z-index:1;
    background-color: gray;
    opacity: 1;
    display: none;
}

/* css div2 e card2 pertence a tela de recuperar senha  */

.card2{
    margin-left: 6%;
    margin-top: 40%;
    width: 80%; 
}

.div2{
   position: absolute;
    left:0%; 
    top:0%;
    height:100%;
    width:100%;
    z-index:1;
    background-color: gray;
    opacity: 1;
    display: none;
}

/* css div3 pertence a tela de mensagem de sucesso   */

.div3{
    position: absolute;
    left:10%; 
    top:40%;
    width:80%;
    z-index:2;
    opacity: 1;
    display: none;
}


/* css tamicon pertence ao tamanho do icone de sucesso  */

.tamicon{
    font-size: 50px;
    color:green;  
}


/* css div4 pertence a tela de mensagem de erro  */

.div4{
    position: absolute;
    left:10%; 
    top:40%;
    width:80%;
    z-index:2;
    opacity: 1;
    display: none;
}

/* css tamicon pertence ao tamanho do icone de erro  */

.tamicon2{
    font-size: 50px;
    color:red;
}


.drwr{
    background-image: url("../images/space.png");
    color: white;
    height: 15%;
}


/* badge1 pertence ao tamanho do icone sobre o carrinho de compras e mensagens  */

.badge1 {
   position:relative;
}

.badge1:after {
   content:attr(data-badge);
   position:absolute;
   top:-6px;
   right:-6px;
   font-size:.7em;
   background:#D9D919;
   color:white;
   width:18px;height:18px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}

.badge1[data-badge='']::after {
     content: none;
}


.carousel{
    background: #2f4357;
    margin-top: 0 px;
}
.carousel .item{
    min-height: 150px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
	margin: 0px;
}

